<setion>
  <div class="container">
    <div class="row">
      <div class="col-sm-4" ng-class="userType === 'customer' ? 'col-sm-offset-1' : 'col-sm-offset-4'">
        <div ng-show="showError" class="alert alert-danger" role="alert">Incorrect Username or Password</div>
        <div ng-show="showMessage" class="alert alert-info" role="alert">Please contact your gihan textile customer care (+94 37 750 750) to activate your account</div>
        <div class="login-form"><!--login form-->
          <h2>Login to your account</h2>
          <form action="#">
            <input ng-model="user.email" type="text" placeholder="Email Address" />
            <input ng-model="user.password" type="password" placeholder="Password" />
            <button type="button" ng-click="adminLogin(user);" class="btn btn-default">Login</button>
          </form>
        </div><!--/login form-->
      </div>
      <div class="col-sm-1" ng-show="userType === 'customer'">
        <h2 class="or">OR</h2>
      </div>
      <div class="col-sm-4" ng-show="userType === 'customer'">
        <div class="signup-form"><!--sign up form-->
          <h2>New User Signup!</h2>
          <form action="#">
            <input ng-model="user.displayName" type="text" placeholder="Display Name" />
            <input ng-model="user.email" type="text" placeholder="Email Address" />
            <button type="button" ng-click="userSignup(user);" class="btn btn-default">Signup</button>
          </form>
        </div><!--/sign up form-->
      </div>
    </div>
  </div>
</setion>