<section id="cart_items">
  <div class="container">
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
        </thead>
        <tbody>
          <tr class="cart_menu">
            <td >Item</td>
            <td >.</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
            <td>.</td>
          </tr>
          <tr ng-repeat="ci in indexVO.cartItems">
            <td>
              <a href=""><img src="{{ci.cartImage}}" alt=""></a>
            </td>
            <td>
              <h4><a href="">{{ci.name}}</a></h4>
            </td>
            <td>
              <h4 class="pull-right"><a href="">Rs. {{ci.price}}</a></h4>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" href="" ng-click="addOne(ci);"> + </a>
                <input class="cart_quantity_input" type="text" name="quantity" value="{{ci.noOfItems}}" autocomplete="off" size="2">
                <a class="cart_quantity_down" href="" ng-click="reduceOne(ci);"> - </a>
              </div>
            </td>
            <td class="cart_total">
              <h4 class="cart_total_price pull-right">Rs. {{ci.noOfItems * ci.price}}</h4>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href="" ng-click="remveFromCart(ci);"><i class="fa fa-times"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="dialog" title="Basic dialog">
      </div>
    </div>
  </div>
</section> <!--/#cart_items-->

<section id="do_action">
  <div class="container">
    <div class="heading">
      <h3>Summary</h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <div class="total_area">
          <ul>
            <li>Cart Sub Total <span>{{getCartTotal()}}</span></li>
            <li>Shipping Cost <span>Free</span></li>
            <li>Total <span>{{getCartTotal()}}</span></li>
          </ul>
          <a class="btn btn-default check_out" href="" ng-click="saveOrder();">Check Out</a>
        </div>
      </div>
    </div>
  </div>
</section><!--/#do_action-->
