<section id="cart_items">
  <div class="container">

    <div class="row bottom20" ng-show="loggedInUser.role.name === 'Admin' || loggedInUser.role.name === 'User'">
      <div ng-include src="'views/parts/menu.html'"></div>
    </div>

    <div class="row">
      <div class="col-md-5 pull-right">
        <div class="input-group">
          <input ng-model="searchText" type="text" class="form-control" placeholder="Search for Orders...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="container top20" >

    <div class="table-responsive cart_info">
      <table class="table table-condensed">

        <thead ng-class="active" >
        <th class="" ng-show="loggedInUser.role.name === 'Admin' || loggedInUser.role.name === 'User'">Display Name</th>
        <th>Ordered Date</th>
        <th>Order Status</th>
        <th>Amount</th>
        <th>Payment Status</th>
        <th>Payment Received Date</th>
        <th>Delivered Date</th>
        <th>View Items</th>
        <th ng-show="loggedInUser.role.name === 'Admin' || loggedInUser.role.name === 'User'">Edit</th>
        </thead>
        <tr ng-repeat="o in orders | filter:searchText">
          <td ng-show="loggedInUser.role.name === 'Admin' || loggedInUser.role.name === 'User'">{{ o.user.displayName}}</td>
          <td>{{ o.orderedDate}}</td>
          <td>{{ o.orderStatus}}</td>
          <td class="pull-right">{{ o.amount}}</td>
          <td>{{ o.paymentStatus}}</td>
          <td>{{ o.paymentDate}}</td>
          <td>{{ o.deliveredData}}</td>
          <td><a href="" ng-click="viewOrder(o)"><i class="fa fa-list"></i></a></td>
          <td ng-show="loggedInUser.role.name === 'Admin' || loggedInUser.role.name === 'User'"><a href="" ng-click="editUser(u)"><i class="fa fa-pencil"></i></a></td>
        </tr>
      </table>
    </div>
    <div class="table-responsive cart_info" ng-show="order.orderItems.length > 0">
      <table class="table table-condensed">
        <thead ng-class="active" >
        <th class="">Item</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Amount</th>
        </thead>
        <tr ng-repeat="i in order.orderItems">
          <td class="cart_product"><a href=""><img src="{{i.item.cartImage}}" alt=""></a></td>
          <td>{{i.item.name}}</td>
          <td >{{i.price}}</td>
          <td >{{i.quantity}}</td>
          <td >{{i.price * i.quantity}}</td>
        </tr>
      </table>
    </div>
  </div>
</section><!--/#do_action-->
