
<section>
  <div class="container">
    <div class="row bottom20">
      <div ng-include src="'views/parts/menu.html'"></div>
    </div>

    <div class="row">

      <div class="col-sm-12 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <img src="{{item.mainImage}}" alt="" />
            </div>

          </div>
          <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
              <img src="app/assets/img/product-details/new.jpg" class="newarrival" alt="" />
              <h2>{{item.name}}</h2>
              <p>Web ID: {{item.id}}</p>
              <span>
                <span>Rs. {{item.price}}</span>
              </span>
              <p><b>Availability:</b> In Stock {{item.noOfItems}}</p>
              <p><b>Condition:</b> New</p>
              <p><b>Category</b> {{item.categoryVO.name}}</p>
              <p><b>Brand:</b> {{item.brandVO.name}}</p>
            </div><!--/product-information-->
          </div>
        </div><!--/product-details-->

      </div>
    </div>
  </div>
</section>
