<footer id="footer"><!--Footer-->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-offset-5">
          <div class="companyinfo">
            <h2><span>Gihan</span> Textile</h2>
            <p>Kuliyapitiya Road, Kathupotha, Kurunegala</p>
            <p>+94 37 750 750</p>
            <p>info@gihans-e-shoping.com</p>
            <p>www.gihans-e-shoping.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-widget">
    <div class="container">
      <div class="row">

      </div>
    </div>
  </div>

</footer><!--/Footer-->
